<h1><%= @playlist.name %></h1>

<%= render :partial => "searches/form" %>

<div id="search_results"></div>

<h1>Songs</h1>
<% if @playlist.songs.empty? %>
  <h3>No Songs have been added yet!</h3>
<% end %>

<ul id="songs">
<% @playlist.songs.each do |song| %>
  <li id="song_<%= song.id %>"><%= render :partial => "songs/song", :locals => {:song => song, :playlist => @playlist} %></li>
<% end %>
</ul>

<div id="player"></div>

<%= javascript_include_tag 'public/jquery_cookie' %>

